<p>robot-controller works!</p>
<app-move-to-waypoint></app-move-to-waypoint>
<app-get-product></app-get-product>
<app-deliver-product></app-deliver-product>
<app-explore-machine></app-explore-machine>
<app-buffer-cap></app-buffer-cap>
